*.lock
*.lock
*.bin
*.lock
*.bin
.idea/libraries/support_annotations_20_0_0.xml
.idea/libraries/support_v4_20_0_0.xml
.gradle/2.2.1/taskArtifacts/cache.properties.lock
.gradle/2.2.1/taskArtifacts/fileHashes.bin
.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
*.lock
.gradle/2.2.1/taskArtifacts/cache.properties.lock